pais {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; 
    padding: 20px;
    font-weight: normal; 
  }
  
  
  informacion {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fce4ec; 
    border: 2px solid #f48fb1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
  monedas {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #e1bee7; 
    border: 1px solid #d1c4e9; 
    border-radius: 5px; 
  }
  
  monedas::before {
    content: "Monedas:";
    display: block;
    font-weight: bold;
    color: #6a1b9a; 
    margin-bottom: 5px;
  }
  
  
  primera, segunda, tercera {
    margin: 5px 0;
    font-weight: normal; 
    color: #333; 
  }
  
  
  departamento {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #d1c4e9; 
    border: 2px solid #b39ddb; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  departamento::before {
    content: "Departamento (ID: " attr(id) ") - Nombre: " attr(nombre);
    display: block;
    font-weight: bold; 
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Estilo para los campos individuales (sin negrita para el contenido) */
  nombre, codigoTelefonico, areaTerritorial, poblacion, capital, dominioInternet, cabecera, habitantes, altura, superficie {
    display: block;
    margin: 5px 0;
    font-weight: normal;
    color: #333;
  }
  

  nombre::before, codigoTelefonico::before, areaTerritorial::before, poblacion::before, capital::before, dominioInternet::before, cabecera::before, habitantes::before, altura::before, superficie::before {
    font-weight: bold; 
    color: #c62828; 
  }
  
  nombre::before {
    content: "Nombre: ";
  }
  
  codigoTelefonico::before {
    content: "Código Telefónico: ";
  }
  
  areaTerritorial::before {
    content: "Área Territorial: ";
  }
  
  poblacion::before {
    content: "Población: ";
  }
  
  capital::before {
    content: "Capital: ";
  }
  
  dominioInternet::before {
    content: "Dominio de Internet: ";
  }
  
  cabecera::before {
    content: "Cabecera: ";
  }
  
  habitantes::before {
    content: "Habitantes: ";
  }
  
  altura::before {
    content: "Altura: ";
  }
  
  superficie::before {
    content: "Superficie: ";
  }
  
seccion {
  margin: 20px;
}


párrafo {
  margin: 10px 0;
}

/* Estilo para el enlace como un botón */
párrafo a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d3d3d3; 
  color: #000000; 
  text-decoration: none;
  border: 1px solid #a9a9a9; 
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

párrafo a:hover {
  background-color: #a9a9a9; 
  color: #ffffff; 
}

      